<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />

    <link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
  </head>
  <body>
    <h1>Welcome, <%= @item.user.name %></h1>
    <p>
      You need to pay for your order.</br>
      Cost of your order: <%= @item.cost %></br>
      Account number: <%= @sender.account_number %><br>
      Click button below after payment.
    </p>
    <p>
    <%= link_to 'I paid for the order', @url, class: 'btn btn-primary'  %>
    </p>
  </body>
</html>
