<div class="container">
	<%= image_tag 'binareats-logo.png', style: 'width:100%' %>
	<section class="intro">
		<h1 class="intro__main-header">Welcome to BinarEats! 👋</h1>
		<p class="intro__primer">BinarEats simplifies the process of ordering food. No more juggling with tons of messages and complaints after you don't get your pizza, because someone forgot to let people know after placing the order. 😒 Sounds good?<br><br>
			<%= link_to "Create an order", new_order_path, class: "btn btn-primary" %></p>
	</section>
</div>