<table>
  <tr>
    <th>Place name</th>
    <th>Order deadline</th>
    <th>Action</th>
  </tr>
<% collection.each do |order| %>
  <tr>
    <td><%= order.place.name %></td><td><%= order.deadline %></td><td><%= link_to 'Edit', edit_order_path(order.id) %><td>
  </tr>
<% end %>
</table>
