<div class="jumbotron">
  <h1>My orders</h1>
</div class="jumbotron">
<%= render 'index', :collection => @my_orders %>

<div class="jumbotron">
  <h1>Other orders</h1>
</div class="jumbotron">
<%= render 'index', :collection => @other_orders %>
