<template>
  <div>
    <wizard
      :steps="steps"
      :onNext="nextClicked" 
      :onBack="backClicked">
      <div slot="place">
        <h4>Choose a place</h4>
        <ul>
          <% Place.all.each do |place| %>  
          <li><%= place.name %></li> 
          <% end %>  
        </ul>
      </div>
      <div slot="orderer">
        <h4>Step 2</h4>
        <p>This is step 2</p>
      </div>
      <div slot="deliverer">
        <h4>Step 3</h4>
        <p>This is step 3</p>
      </div>
      <div slot="deadline">
        <h4>Step 4</h4>
        <p>This is step 4</p>
      </div>
    </wizard>
  </div>
</template>

<script>
import { GoodWizard } from 'vue-good-wizard';

export default {
  name: 'order-wizard',
  data(){
    return {
      steps: [
        {
          label: 'Where to order from?',
          slot: 'place',
        },
        {
          label: 'Who will order?',
          slot: 'orderer',
        },
        {
          label: 'Who will deliver?',
          slot: 'deliverer',
        },
        {
          label: 'What is the deadline?',
          slot: 'deadline',
          options: {
            nextDisabled: true, // control whether next is disabled or not
          },
        }
      ],
    };
  },
  methods: {
    nextClicked(currentPage) {
      console.log('next clicked', currentPage)
      return true; //return false if you want to prevent moving to next page
    },
    backClicked(currentPage) {
      console.log('back clicked', currentPage);
      return true; //return false if you want to prevent moving to previous page
    }
  },
  components: { 
    'wizard': GoodWizard,
  },
};
</script>

<style scoped>
p {
  font-size: 2em;
  text-align: center;
}
</style>
