<div class="jumbotron">
  <h1>
    Item <%= @item.id %> from order <%= link_to "#{ @item.order.id} - #{@item.order.place.name} ", "#{orders_path}/#{@item.order.id}" %>
  </h1>
</div>

<%= render 'form' %>
