@import "include/colors";

.intro {
	&__main-header, &__primer {
		color: white;
		display: block;
		text-align: center;
	}

	&__main-header {
		font-size: 3rem;
	}

	&__primer {
		font-size: 2rem;
	}
}